/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
html{
  min-height:100%;
}
body{
  background-image: url("/img/background5.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center center;
  color:whitesmoke;
  font-family: 'Orbitron', sans-serif;
}
.logo{
  display:flex;
  align-items: center;
  height:100px;
  width:auto;
  margin:auto;
}
.intro{
  height:500px;
  max-height:auto;
  margin:0 20%;
  border-radius:20px;
  background-color:hsla(0, 0%, 0%, 0.48);
  text-align:center;
  font-weight:500;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.says{
  font-size:30px;
}
.says>p+p{
  font-weight:900;
  line-height:0rem;
  font-size:70px;
}
.begin{
  display:flex;
  align-items: center;
  justify-content: center;
  padding-top:5rem;
}

.btn,.another{
  height:60px;
  width:300px;
  font-size:20px;
  font-weight:700;
  border-radius:20px;
  background-color: hsla(0, 0%, 14%, 0.87);
  color:whitesmoke;
  border:none;
}
.btn:hover{
  background-color: hsla(199, 64%, 36%, 0.48);
  border:none;
  color:whitesmoke;
}
a,.btn{
  text-decoration:none;
  color:rgb(134, 175, 202);
}


.takeOff{
    height:1150px;
    border-radius:20px;
    background-color:hsla(0, 0%, 0%, 0.48);
    text-align:center;
    font-weight:500;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top:5em
}













.nasaPic{
  max-width:100%;
  height:auto;
  max-height:100%;
}
.intro,.begin{
  display:none;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/